.popup__save {
    background-color: #000000;
    color: white;
    border: 1px solid #000000;
    border-radius: 2px;
    width: 358px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 37px;
    margin-top: 42px;
    cursor: pointer;
}

.popup__save:hover {
    opacity: 0.8;
}

.popup__save._disabled {
    cursor: default;
    color: rgba(0, 0, 0, 0.15);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
}