.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 70%;
    min-height: 74px;
    margin: 40px auto 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 450px) {
    .header {
        margin-top: 28px;
        min-width: 304px;
        min-height: 56px;
    }
}