.element__heart {
    width: 22px;
    height: 19px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-image: url(../../../image/heart.svg);
    margin: 0;
    margin-top: 30px;
    margin-right: 20px;
    padding: 0;
    cursor: pointer;
}

.element__heart:hover {
    opacity: 0.5;
}

._active {
    background-image: url(../../../image/heart-black.svg);
    background-size: cover;
}